@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: poppins, sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: url("./assets/asset\ 11.svg");
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}

/* ############################## NAVBAR SECTION ############################### */

.navbar {
  width: 80%;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px auto;
  box-shadow: 5px 25px 36px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 17px;
  position: sticky;
  top: 10px;
}

/* ################################ LOGO SECTION ############################## */
.logo {
  display: flex;
  align-items: center;
  padding-right: 30px;
  height: 3vh;
  border-right: 3px solid rgba(0, 0, 0, 0.299);
}
.logo h1:hover {
  color: black;
}

.logo h1 {
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.687);
  cursor: pointer;
  transition: color 0.2s;
}

/* ################################ NAV-ITEMS UL li SECTION ############################## */

.nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.626);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.nav-items a::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgb(125, 141, 255);
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.nav-items a:hover::before {
  transform: scaleX(1);
}

.navbar .icon {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.626);
}

/* ####################### BUTTON STYLING ####################### */
.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btn-1 {
  color: #7d8dff;
  background-color: #fff;
  transition: background-color 0.2s;
}

.btn-1:hover {
  background-color: #b6bad793;
}

.btn-2 {
  background-color: #ff4f81;
  display: flex;
  gap: 7px;
  color: white;
  transition: background-color 0.2s;
}

.btn-2:hover {
  background-color: #f94175;
}

.button {
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  padding: 17px;
  border-radius: 7px;
  cursor: pointer;
}

/* ###################### HERO SECTION ###################### */
.hero {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 90px;
}

.hero-text {
  width: 50%;
}

.hero-text img {
  width: 70px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.hero-text img:hover {
  transform: translateY(-6px);
}

.hero-text h1 {
  font-size: 60px;
  color: #363636e0;
  font-weight: 600;
  transition: all 0.2s ease;
  position: relative;
}

.image h1::before {
  content: "";
  height: 30px;
  background-color: #ffd900;
  position: absolute;
  width: 100%;
  bottom: -2%;
  z-index: -1;
  transition: 200ms;
}

.image h1:hover::before {
  height: 85px;
}

.hero-text .image {
  display: flex;
  gap: 10px;
}

.hero-text #paragraph {
  margin-top: 23px;
  font-size: 25px;
  color: #36363665;
  font-weight: 500;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 23px;
}

.h-btn {
  border: none;
  outline: none;
  font-size: 23px;
  font-weight: 600;
  padding: 18px 30px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
}

.btn-3 {
  background-color: #7d8dff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-transform: capitalize;
}

.btn-3:hover i {
  margin-right: 7px;
}

.btn-3 i {
  transition: all 0.3s ease;
  background-color: transparent;
}

.btn-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: #ff7569;
}

.btn-4:hover {
  color: #c6c4c4;
  background-color: #ff5f50;
}

.btn-4 i {
  transition: all 0.3s ease;
}

.btn-4:hover i {
  margin-right: 8px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.right img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

.right img:hover {
  transform: scale(1.1);
}

.right h3 {
  position: relative;
  font-size: 30px;
  color: #353535d8;
  font-weight: 500;
  margin-bottom: 20px;
  word-spacing: -2px;
}

.right h3 span::before {
  content: "";
  height: 4px;
  background-color: #3be8b0;
  position: absolute;
  width: 55%;
  bottom: -2%;
  z-index: -1;
  transition: 200ms;
}

.right h3 span:hover::before {
  height: 40px;
}

.right p {
  font-size: 17px;
  color: #353535c1;
  margin-bottom: 20px;
}

/* ######################### MAIN STYLING ############################  */
#main {
  padding: 50px 90px;
  height: 100%;
  background-color: #e2e0e049;
}

#main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#recent-videos h2 {
  font-size: 45px;
  font-weight: 600;
}

#recent-videos h4 {
  font-size: 25px;
  color: #747171;
  font-weight: 300;
}

#btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 25px;
  background-color: #7d8dff;
  border: none;
  border-radius: 50px;
  outline: none;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

#btns i{
  transition: all 0.3s ease;
}

#btns:hover i{
  margin-left: 10px;
}

#btns i {
  font-size: 26px;
}

.work {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 30px;
  margin-top: 30px;
  padding: 0px 80px;
}

.elem {
  width: 450px;
  /* height: 600px; */
  /* background-color: #c6c4c4; */
  border-radius: 12px;
  box-shadow: 5px 25px 36px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.elem:hover{
  transform: scale(1.1);
}

.elem-image {
  width: 100%;
  height: 250px;
  border-radius: 12px 12px 0px 0px;
}

#img1 {
  background: url(https://bloggdude.com/wp-content/uploads/2023/12/How-to-Make-a-WordPress-Website-for-FREE-2024-WordPress-Designing-MasterClass-Elementor-Royal-Addons-fotor-20231231135057.jpg);
  background-size: cover;
  background-position: center;
}
#img2 {
  background: url(https://bloggdude.com/wp-content/uploads/2023/11/How-to-Make-Freelance-Micro-Job-Marketplace-Website-Like-Fiverr-Freelancer-WordPress-Freeio.jpg);
  background-size: cover;
  background-position: center;
}
#img3 {
  background: url(https://bloggdude.com/wp-content/uploads/2023/10/How-to-Start-a-FREE-Money-Making-BLOG-with-Chat-GPT-WordPress-2024.jpg);
  background-size: cover;
  background-position: center;
}

.skills {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 25px;
  padding-left: 20px;
}

.skills h5 {
  font-size: 16px;
  color: #7d8dff;
}

.elem h2 {
  margin-top: 14px;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: #413b3b;
  padding-left: 20px;
}

.datetime {
  margin-top: 18px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 9px;
}

.datetime h5 {
  font-size: 18px;
  font-weight: 400;
  color: #a09c9cd0;
}
.datetime i {
  font-size: 25px;
  font-weight: 400;
  color: #a09c9cd0;
}

.btm-section {
  margin: 25px 0px;
  padding: 0px 20px;
}

.btmleft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btm-image {
  display: flex;
  align-items: center;
  gap: 9px;
}

.btm-image img {
  width: 30px;
  border-radius: 50px;
}

.btm-image span {
  font-size: 18px;
  color: #a09c9cd0;
}

.readmore {
  display: flex;
  align-items: center;
  color: #a09c9cd0;
}

.readmpre h5 {
  font-size: 20px;
}

.readmore i {
  font-size: 30px;
}

#hosting-section{
  width: 100%;
  height: 100%;
  background-color: #dcdce2;
  padding: 50px 80px;
}

button#wordpress-hosting{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 20px 40px;
  background-color: #7d8dff;
  border-radius: 10px;
  color: #fff;
  border: none;
}

#hosting-section{
  background: url(./assets/asset\ 9.svg);
}

button#wordpress-hosting i{
  font-size: 24px;
}

button#wordpress-hosting h3{
  font-size: 26px;
  font-weight: 600;
}

#offer-cards{
  margin-top: 50px;
}

.card{
  width: 450px;
  height:550px;
  background-color:#fff;
  border-radius: 12px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.card .card-image{
  width: 100%;
  height: 300px;
  padding: 55px 40px;
  /* background-color: #3be8b0; */
}

.card .card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card button.red-button{
  font-size: 17px;
  background-color: #ff4f81;
  color: #fff;
  border-radius: 50px;
  padding: 5px 13px;
  border: none;
  margin-left: 38px;
}
